
line,
circle,
rect
{
    stroke: none;
    fill: none;
}

.wire,
.wire[layer="tDocu"],
.wire[layer="tPlace"]
{
    stroke: #a5a5a5;
}

.circle[layer="tDocu"],
.circle[layer="tPlace"],
.rectangle[layer="tDocu"],
.rectangle[layer="tPlace"],
.polygon[layer="tDocu"],
.polygon[layer="tPlace"]
{
    fill: #a5a5a5;
}

text[layer="tNames"],
text[layer="tValues"]
{
    stroke: none;
    fill: #555555;
}

/* in the SVG pins are groups of lines and circles */
.pin
{
    stroke-width: 0.2;
}
.pin line
{
    stroke: #a54b4b;
    fill: none;
}
.pin circle
{
    stroke: #4ba54b;
}
.pin .function
{
    stroke: #a54b4b;
}

/* holes are circles */
.hole
{
    fill: black;
}

/* lightgreen */
.pad
{
    stroke: none;
    fill: #4ba54b;
}
/* pad's drillhole */
.pad .drill
{
    stroke: none;
    fill: white;
}

/* smds are rects */

/* red */
.wire[layer="Top"],
.smd[layer="Top"]
{
    fill:   #a54b4b;
}

/* blue */
.wire[layer="Bottom"],
.smd[layer="Bottom"]
{
    fill:   #4b4ba5;
}

/* yellow */
.via
{
    stroke: none;
    fill: #ffff45;
}
