
line
{
    fill: none;
}
.wire[layer="tDocu"],
.wire[layer="tPlace"]
{
    stroke: #a5a5a5;
}

circle,
rect
{
    stroke: none;
}

.circle[layer="tDocu"],
.circle[layer="tPlace"],
.rectangle[layer="tDocu"],
.rectangle[layer="tPlace"]
{
    fill: #a5a5a5;
}

/* holes are circles */
.hole
{
    fill: black;
}

/* lightgreen */
.pad
{
    stroke: none;
    fill: #4ba54b;
}

/* smds are rects */

/* red */
.wire[layer="Top"],
.smd[layer="Top"]
{
    fill:   #a54b4b;
}

/* blue */
.wire[layer="Bottom"],
.smd[layer="Bottom"]
{
    fill:   #4b4ba5;
}

/* yellow */
.via
{
    stroke: none;
    fill: #ffff45;
}
