
body {
    margin: 20px;
}

svg {
    border: 1px dashed gray;
}

.rectMoveCanvas {
    fill: transparent;
    stroke: transparent;
}

.circleTerminal {
    stroke: black;
    fill: white;
}
.circleTerminal:hover {
    fill: blue;
    cursor: pointer;
}

.pathWire {
    stroke: black;
    fill: transparent;
}

.pathElement {
    stroke: black;
    fill: white;
}

.connectTerminalsLine {
    stroke: gray;
    fill: transparent;
    stroke-dasharray: 5,3;
}


rect.bbox {
    stroke: transparent;
    fill: transparent;
    cursor: move;
}
rect.bbox:hover {
    stroke: gray;
    
    stroke-dasharray: 50,30;
}


/*
 * Source code elements are invisible
 */
geda-library,
geda-component,
geda-schematic
{
    display: none;
}

/*
 * How to render elements in a library (if visible)
 * and in a schematic
 */
 
geda-component line.symbol,
svg.schematic g.component line.symbol
{
    stroke: black;
}

geda-component line.pin,
svg.schematic g.component line.pin
{
    stroke: red;
}

geda-component rect.symbol,
svg.schematic g.component rect.symbol
{
    stroke: black;
    fill: white;
}

geda-component rect.ic,
svg.schematic g.component rect.ic
{
    stroke: #800000;
    fill: #ffffb0;
}

svg.schematic line.wire
{
    stroke: #000080;
    fill: transparent;
    stroke-linecap: round;
}


line, rect
{
    stroke-width: 10;
}