
body {
    margin: 20px;
}

svg {
    border: 1px dashed gray;
}

.circleTerminal {
    stroke: black;
    fill: white;
}
.circleTerminal:hover {
    fill: blue;
    cursor: pointer;
}

.pathElement {
    stroke: black;
    fill: transparent;
}

.connectTerminalsLine {
    stroke: gray;
    fill: transparent;
    stroke-dasharray: 5,3;
}

.rectBoundingBox {
    stroke: transparent;
    fill: transparent;
    cursor: move;
}
.rectBoundingBox:hover {
    stroke: gray;
    stroke-dasharray: 5,3;
}
