
body {
    margin: 20px;
}

svg {
    top: 0px;
    width: 100%;
    height: 90%;
    border: 1px dashed gray;
}

.circleTerminal {
    stroke: black;
    fill: white;
}

.circleTerminal:hover {
    fill: green;
    cursor: pointer;
}

.pathElement {
    stroke: black;
    fill: transparent;
    cursor: move;
}

.connectTerminalsLine {
    stroke: gray;
    fill: transparent;
    stroke-dasharray: 5,3;
}
